body {
	background-color: #DCDCDC;
}
h1 {
	color: #000000;
	background-color: #F0FFFF;
	font-size: 60px;
}
a {
	font-size: 20px;
}
h2 {
	color: #008080;
	font-size: 25px;
}
p {
	font-size: 20px;
}
a:hover {
	color: #FF8C00;
	font-size: 30px;
}
.title {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.header {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.footer {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.img {
	display: block;
	margin: 0 auto;
	width: 50%;
}
h2.subtitle:before {
	content: '\2714';
	color: #FF8C00;
}